<div class="mb-2">
  <label class="form-label fw-bold">{{ label }}</label>

  <input
    [class.is-invalid]="control.touched && control.invalid"
    type="{{ type }}"
    class="form-control"
    placeholder="{{ label }}"
    [formControl]="control"
  />

  <div class="invalid-feedback" *ngIf="control.errors?.['required']">
    Please enter a {{ label }}
  </div>

  <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
    {{ label }} must be atleast
    {{control.errors?.['minlength'].requiredLength}} characters
  </div>

  <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
    {{ label }} must be most
    {{control.errors?.['maxlength'].requiredLength}} characters
  </div>

  <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
    Passwords do not match
  </div>

  <div class="invalid-feedback" *ngIf="control.errors?.['pattern']">
    Password must contain at least one symbol, one digit, and one uppercase
    letter
  </div>
</div>
